<style>
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-family: monospace;
        font-size: 15px;
    }
</style>

<center>
    <footer class="footer bg-dark">
        <div class="container">
            <span class="text-light">Compañia de Electricidad @todos los derechos reservados 2024</span>
        </div>
    </footer>
</center>