<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia de Electricidad</title>
    <style>
        body,
        html {
          width: 100%;
          margin: 0;
          padding: 0;
        }

        a {
          color: white;
          text-decoration: none;
        }

        main {
          background-color: #b7cd7f;
          padding: 1rem;
        }

        .main-content {
          font-family: monospace;  
          font-size: 15px;
          background-color: whitesmoke;
          width: min(600px, 90%);
          border: 1px solid #000;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);;
          padding: 2rem;
          border-radius: 10px;
          margin: 2rem auto;
          padding-bottom: 2rem;
        }

        .input-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0.5rem auto;
        }

        .buttons-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 2rem;
        }

        .buttons-container button {
          width: 30%;
          padding: 0.4rem 0;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        .buttons-container button.btn-submit {
          background-color: white;
          font-size: 15px;
          border: 1px solid #000;
        }

        .buttons-container button.btn-clear {
          background-color: white;
          font-size: 15px;
          border: 1px solid #000;
        }

        .buttons-container button:hover {
          background-color: #d9ef9f;;
        }

        table {
          font-family: monospace;
          font-size: 15px;  
          width: min(800px, 95%);
          margin: 2rem auto;
          box-shadow: 0 3px 10px 1px #0000005a;
        }

        th {
          background-color: whitesmoke !important;
        }

        td {
            background-color: whitesmoke;
        }

        input,
        select {
          width: 50%;
          padding: 0.5rem 0.2rem;
        }
    </style>    
</head>
<body>
    <%-include('partials/header.ejs')%> 
    <%-include('partials/nav.ejs')%>
    <main>
        <% if(!isPost){ %>
        <form class="main-content" id="form-recibo" action="/" method="post">
          <div class="input-container">
            <label for="numero">Numero Recibo:</label>
            <input id="numRecibo" type="number" name="numRecibo" required/>
          </div>
          <div class="input-container">
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" name="nombre" required />
          </div>
          <div class="input-container">
            <label for="domicilio">Domicilio:</label>
            <input id="domicilio" type="text" name="domicilio" required/>
          </div>
          <div class="input-container">
            <label for="servicio">Tipo de Servicio:</label>
            <select id="servicio" name="servicio">
              <option value="0">Domestico</option>
              <option value="1">Comercial</option>
              <option value="2">Industrial</option>
            </select>
          </div>
          <div class="input-container">
            <label for="kWCon">Kilowatts Consumidos:</label>
            <input id="kWCon" type="number" name="kWCon" required />
          </div>
          <div class="buttons-container">
            <button class="btn btn-submit" type="submit">
              Enviar Informacion
            </button>
            <button class="btn btn-clear" onclick="limpiarFormulario()">Limpiar</button>
          </div>
        </form>
  
        <%} else{ %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo de servicio</th>
              <th scope="col">Kilowatts Consumidos</th>
              <th scope="col">Costo por Kilowatts</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= numRecibo %></td>
              <td><%= nombre %></td>
              <td><%= servicio %></td>
              <td><%= kWCon %></td>
              <td><%= costKw %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Subtotal:</strong></td>
              <td><%= subtotal.toFixed(2) %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Impuesto:</strong></td>
              <td><%= impuesto.toFixed(2) %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Descuento:</strong></td>
              <td><%= descuento.toFixed(2) %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total a pagar:</strong></td>
              <td><%= subtotalDesc.toFixed(2) %></td>
            </tr>
          </tbody>
        </table>
        <% } %>
    </main>
    <%-include('partials/footer.ejs')%>
</body>
<script>
  function limpiarFormulario() {
    document.getElementById("form-recibo").reset();
  }
</script>
</html>